<div class="edit">
<div class="container">

  <div class="my-5 row">
    <div class="col-md-12">
      <h1 class="text-center text-secondary">Atualizar Tema</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">

      <div class="form-group">
        <label for="descricao">Digite o novo nome do tema:</label>
        <input type="text" class="form-control" id="descricao" [(ngModel)]='tema.descricao'>
      </div>

      <div class="d-flex justify-content-center">
        <button class="btn btn-danger mr-4" routerLink="/tema">Cancelar</button>
        <button class="btn btn-success" (click)="atualizar()">Atualizar</button>

      </div>
    </div>
  </div>
</div>
</div>
