<div class="container-fluid cadastrar">
  <div class="row h-100 d-flex align-content-center">
    <div class="col-md-6 mx-auto">

      <div class="caixa">

      <div class="row m-0 p-0 d-flex justify-content-center align-items-center">
        <div class="col-md-10 ">

          <h1 class="m-0 mt-3">Cadastre-se </h1>
          <h5>...e não esqueça de trazer sua toalha!</h5>

          <form>
            <div class="row my-3 d-flex justify-content-around align-items-center">

              <div class="col-md-5">
                <div class="form-group">
                  <label for="nome">Nome*</label>
                  <input
                    class="form-control"
                    type="text"
                    name="nome"
                    id="nome"
                    [(ngModel)]="usuario.nome"
                  />
                </div>

                <div class="form-group">
                  <label for="usuario">E-mail*</label>
                  <input
                    class="form-control"
                    type="text"
                    name="usuario"
                    id="usuario"
                    placeholder="example@email.com"
                    [(ngModel)]="usuario.usuario"
                  />
                </div>

                <div class="form-group">
                  <label for="foto">Foto de perfil</label>
                  <input
                    class="form-control"
                    type="text"
                    name="foto"
                    id="foto"
                    [(ngModel)]="usuario.foto"
                    placeholder="Insira a URL da foto"
                  />
                </div>
              </div>

              <div class="col-md-5">
                <div class="form-group">
                  <label for="senha">Senha*</label>
                  <input
                    (input)="confirmSenha($event)"
                    class="form-control"
                    type="password"
                    name="senha"
                    id="senha"
                    placeholder ="Mínimo 5 caracteres."
                  />
                </div>

                <div class="form-group">
                  <label for="confirmSenha">Confirmar senha*</label>
                  <input
                    class="form-control"
                    type="password"
                    name="confirmSenha"
                    id="confirmSenha"
                    [(ngModel)]="usuario.senha"
                  />
                </div>

                <div class="form-group">
                  <label for="tipo">Tipo de usuário*</label>
                  <select
                    class="form-control"
                    name="tipo"
                    id="tipo"
                    (change)="tipoUser($event)"
                  >
                    <option>Selecione um tipo de usuário</option>
                    <option value="normal">Normal</option>
                    <option value="adm">Admnistrador</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row my-5 d-flex justify-content-center">
              <button
                type="submit"
                class="btn btn-danger mr-4"
                routerLink="/entrar"
              >
                Cancelar
              </button>

              <button
                type="submit"
                class="btn btn-success"
                (click)="cadastrar()"
              >
                Cadastrar
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>

    </div>
  </div>
</div>
