/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
  max-width: 100vw;
}

body {
  background-color: #F0E8F4;
  max-width: 100vw;
}

.fs-54{
  font-size: 54pt;
}

.fs-18{
  font-size: 18pt;
}
